.StartujiciPanel__grid {
  align-items: stretch;
  display: grid;
  grid-template-columns: 7em 5em 5em 11em 3em;
  justify-content: stretch;
}

.StartujiciPanel__cell,
.StartujiciPanel__leftCell,
.StartujiciPanel__middleCell,
.StartujiciPanel__leftHeader,
.StartujiciPanel__middleHeader,
.StartujiciPanel__header,
.StartujiciPanel__narozeni,
.StartujiciPanel__startCislo {
  padding: 5px;
}

.StartujiciPanel__leftCell,
.StartujiciPanel__leftHeader {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
.StartujiciPanel__middleCell,
.StartujiciPanel__middleHeader,
.StartujiciPanel__narozeni {
  border-right: 1px solid #d3d3d3;
}

.StartujiciPanel__header,
.StartujiciPanel__leftHeader,
.StartujiciPanel__middleHeader {
  background-color: #f6f7f8;
  background: linear-gradient(#ffffff, #efefef);
  border-bottom: 1px solid #d3d3d3;
  font-weight: bold;
  text-align: center;
}

.StartujiciPanel__narozeni {
  padding-right: 1em;
  text-align: right;
}

.StartujiciPanel__startCislo {
  text-align: right;
}
