.Startujici-div {
  margin-left: 30px;
  margin-right: 20px;
}

.Startujici-buttons {
  margin-bottom: 1ex;
}

.Startujici-button {
  margin-right: 5px;
}

.Startujici-buttons > .btn.active {
  font-weight: bold;
  border-radius: 5px;
  border: 3px solid black !important;
}

.Startujici-typ {
  margin-bottom: 1.5ex;
}

.Startujici-popisek {
  padding-bottom: 0.7ex;
}

.Startujici_legenda {
  margin-bottom: 1ex;
}
