.StartujiciPanel--isOver {
  border-style: dashed;
  border-width: 3px;
}

.StartujiciPanel__grid {
  align-items: stretch;
  display: grid;
  grid-template-columns: 9em 7em 5em 11em 3em;
  justify-content: stretch;
}

.StartujiciPanel__header,
.StartujiciPanel__leftHeader,
.StartujiciPanel__middleHeader,
.StartujiciPanel__cell,
.StartujiciPanel__leftCell,
.StartujiciPanel__middleCell {
  align-items: center;
  display: flex;
  padding: 5px;
}

.StartujiciPanel__leftCell,
.StartujiciPanel__leftHeader {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
.StartujiciPanel__middleCell,
.StartujiciPanel__middleHeader {
  border-right: 1px solid #d3d3d3;
}

.StartujiciPanel__header,
.StartujiciPanel__leftHeader,
.StartujiciPanel__middleHeader {
  background-color: #f6f7f8;
  background: linear-gradient(#ffffff, #efefef);
  border-bottom: 1px solid #d3d3d3;
  font-weight: bold;
  justify-content: center;
}
