.StartujiciPanel__grid {
  align-items: stretch;
  display: grid;
  grid-template-columns: 7em 5em 5em 11em 3em;
  justify-content: stretch;
}

.StartujiciPanel__leftHeader,
.StartujiciPanel__middleHeader,
.StartujiciPanel__header,
.StartujiciPanel__jmeno,
.StartujiciPanel__kategorie,
.StartujiciPanel__narozeni,
.StartujiciPanel__prijmeni,
.StartujiciPanel__startCislo {
  padding: 5px;
}

.StartujiciPanel__jmeno,
.StartujiciPanel__leftHeader {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
.StartujiciPanel__middleHeader,
.StartujiciPanel__kategorie,
.StartujiciPanel__narozeni {
  border-right: 1px solid #d3d3d3;
}

.StartujiciPanel__header,
.StartujiciPanel__leftHeader,
.StartujiciPanel__middleHeader {
  background-color: #f6f7f8;
  background: linear-gradient(#ffffff, #efefef);
  border-bottom: 1px solid #d3d3d3;
  font-weight: bold;
  text-align: center;
}

.StartujiciPanel__narozeni {
  padding-right: 0.5em;
  text-align: right;
}

.StartujiciPanel__startCislo {
  text-align: right;
}

.StartujiciPanel__jmeno:nth-child(2n),
.StartujiciPanel__narozeni:nth-child(2n + 1),
.StartujiciPanel__prijmeni:nth-child(2n + 1),
.StartujiciPanel__startCislo:nth-child(2n + 1) {
  background-color: #f6f7f8;
}

.StartujiciPanel__kategorie--maraton {
  background-color: rgba(var(--maraton), 0.4);
}
.StartujiciPanel__kategorie--půlmaraton {
  background-color: rgba(var(--půlmaraton), 0.4);
}
.StartujiciPanel__kategorie--cyklo {
  background-color: rgba(var(--cyklo), 0.4);
}
.StartujiciPanel__kategorie--koloběžka {
  background-color: rgba(var(--koloběžka), 0.4);
}
.StartujiciPanel__kategorie--pěší {
  background-color: rgba(var(--pěší), 0.4);
}
