{
  env: {
    es6: true,
    jest: true,
    node: true,
  },

  parserOptions: {
    ecmaVersion: 2017
  },

  extends: [ 'eslint:recommended', 'airbnb-base' ],

  rules: {
    'indent': ['error', 2],

    // Integrate with prettier.
    'arrow-parens': ['error', 'as-needed'],
    'comma-dangle': ['error', 'never'],
    'function-paren-newline': 0,
    'object-curly-newline': ['error', { 'consistent': true }],

    // Do not warn about: 'use strict' is unnecessary inside of modules.
    // NodeJS does not support ES6 modules with import/export, yet.
    'strict': 0
  }
}
