{
  "env": {
    "es6": true,
    "jasmine": true,
    "jest": true,
    "node": true
  },

  "plugins": ["jasmine"],

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaVersion": 2019,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },

  "extends": ["eslint:recommended", "airbnb-base", "plugin:jasmine/recommended"],

  "rules": {
    // Integrate with prettier.
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "function-paren-newline": 0,
    "implicit-arrow-linebreak": 0,
    "no-confusing-arrow": 0,
    "object-curly-newline": ["error", { "consistent": true }],
    "operator-linebreak": 0,

    // Do not warn about: 'use strict' is unnecessary inside of modules.
    // NodeJS does not support ES6 modules with import/export, yet.
    "strict": 0,

    // Allow mongoose's _id.
    "no-underscore-dangle": [2, { "allow": ["_id"] }],

    // Do not force new lines before expect. Does not work correctly with 'await'.
    "jasmine/new-line-before-expect": 0
  }
}
