.VyberStartCislo-zabrane {
  background-color: #868686;
  color: black;
}

.VyberStartCislo-volne,
.VyberStartCislo-vybrane {
  cursor: pointer;
  font-weight: 550;
}

.VyberStartCislo-volne {
  background-color: #0e7235;
  color: white;
}

.VyberStartCislo-vybrane {
  background-color: #eadf44;
  color: black;
}
