body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root,
body,
html {
  height: 100%;
}

.UcastniciTable_container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

/* Must be applied on the container; not on the Button component itself. */
.Bootstrap-buttons--active > .btn.active {
  font-weight: bold;
  border-radius: 5px;
  border: 3px solid black !important;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.monospace {
  font-family: monospace;
}

.FetchComponent {
  padding-left: 1em;
}

:root {
  --maraton: 176, 255, 181;
  --půlmaraton: 255, 131, 122;
  --cyklo: 239, 224, 35;
  --koloběžka: 80, 124, 239;
  --pěší: 215, 147, 255;
}
