.App__div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App__current-item {
  border: 1px solid;
  border-color: #e1e1e1;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 1em;
  margin-top: 8px;
  padding: 7px;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

/* Override react-bootstrap styling for Navbar's container. */
.navbar > .container {
  padding-left: 0px;
  margin-left: 0px;
}

/* Override react-bootstrap styling for Navbar's active item. */
.active > a {
  font-weight: bold;
}

/* Override react-boostrap styling for NavDropdown menu items. */
.dropdown-menu > li > a {
  padding-bottom: 6px;
  padding-top: 6px;
}

.App__Nav {
  font-size: 110%;
}

.App__logo,
.App__logo--animated {
  height: 50px;
}

.App__logo--animated {
  animation: App__logo--spin infinite 20s linear;
}

@keyframes App__logo--spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
