.Legenda {
  font-size: 110%;
}

.Legenda__item {
  font-size: 100%;
  margin-left: 0.5em;
}

.Legenda__item--dokonceno {
  background-color: rgb(var(--dokonceno));
  color: white;
}

.Legenda__item--nedokonceno {
  background-color: rgb(var(--nedokonceno));
  color: white;
}

.Legenda__item--na-trase {
  background-color: rgb(var(--na-trase));
  color: white;
}

.Legenda__item--neaktivni {
  background-color: #868686;
  color: black;
}
