.UcastniciDigestFilterable_div {
  padding-left: 30px;
  padding-right: 50px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.UcastniciDigestFilterable_input {
  padding: 1ex;
  margin-bottom: 1ex;
}

.UcastniciDigestFilterable_zobrazeno {
  margin-left: 2em;
}

.UcastniciDigestFilterable_kategorie_vykonu {
  margin-left: 2em;
}