.UcastniciDigestFilterable_div {
  padding-left: 30px;
  padding-right: 50px;
}

.UcastniciDigestFilterable_input {
  padding: 1ex;
  margin-bottom: 1ex;
}

.UcastniciDigestFilterable_span {
  margin-left: 2ex;
}