.PrihlaskyForm__div {
  padding-left: 1em;
}

.PrihlaskyForm__form {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.PrihlaskyForm__column {
  margin: 0 1ex;
}

.PrihlaskyForm__reset {
  margin-left: 2em;
}

.PrihlaskyForm__form > .panel > .panel-body > .form-group:last-child {
  margin-bottom: 0px;
}
