.Poznamka {
  margin-bottom: 1ex;
}

.Poznamka__header {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
}

.Poznamka__datum {
  margin-left: 0.5em;
}

.Poznamka__header_icons {
  align-items: center;
  display: flex;
  justify-self: flex-end;
}

.Poznamka__delete,
.Poznamka__save,
.Poznamka__saved {
  margin-right: 0.5em;
  padding: 2px 5px;
}

.Poznamka__delete,
.Poznamka__save {
  border: 1px solid transparent;
  cursor: pointer;
}

.Poznamka__delete:hover,
.Poznamka__save:hover {
  border: 1px solid black;
  border-radius: 5px;
}

.Poznamka__save {
  color: #333399;
}
.Poznamka__delete {
  color: #b30000;
}

.Poznamka__saved {
  animation-name: fadeInOpacityAndHide;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  color: #339933;
  opacity: 0;
}

.Poznamka__header,
.Poznamka__text {
  border: 1px solid #1a1aff;
  padding: 5px;
}

.Poznamka__header {
  background-color: #b3c6ff;
  border-bottom: 1px solid #7777ff;
  border-radius: 5px 5px 0 0;
}

.Poznamka__text {
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.Poznamka__textarea {
  width: 100%;
  min-width: 30em;
}
