.StartovniCisla-casomeric {
  box-shadow: 0 0 0.5em grey;
  padding-bottom: 1ex;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.5ex;
}

.StartovniCisla-casomeric__legenda {
  display: flex;
  padding-top: 1ex;
}
