.Vitez {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 25%;
}

.Vitez__cedule {
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    'cislo jmeno absPoradi'
    'cislo cas relPoradi';
  justify-items: center;
  padding: 3%;
  width: 100%;
}

.Vitez__cedule--1 {
  background-color: rgb(201, 176, 55);
}
.Vitez__cedule--2 {
  background-color: rgb(215, 215, 215);
}
.Vitez__cedule--3 {
  background-color: rgb(173, 138, 86);
}

.Vitez__cedule--cislo {
  align-items: center;
  border: 1px solid black;
  display: flex;
  font-size: 120%;
  grid-area: cislo;
  justify-content: center;
  height: 4ex;
  width: 2em;
}

.Vitez__cedule--cas {
  font-size: 120%;
  font-family: monospace;
  grid-area: cas;
}
