.CasomericProTyp__panel {
  margin: 0 1ex;
}

.CasomericProTyp__panel--maraton > .panel-heading {
  background-color: rgba(var(--maraton), 0.4);
}
.CasomericProTyp__panel--půlmaraton > .panel-heading {
  background-color: rgba(var(--půlmaraton), 0.4);
}
.CasomericProTyp__panel--cyklo > .panel-heading {
  background-color: rgba(var(--cyklo), 0.4);
}
.CasomericProTyp__panel--koloběžka > .panel-heading {
  background-color: rgba(var(--koloběžka), 0.4);
}
