.PrihlaskyMain-div {
  display: flex;
  flex-direction: column;
}

.PrihlaskyMain-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2ex;
  margin-bottom: 1ex;
}

.PrihlaskyMain-item > * {
  padding-right: 1em;
}

.PrihlaskyMain-icon {
  font-size: xx-large;
}
