.StartujiciProTyp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2.5em, 2.5em));
  grid-gap: 1px;
  max-width: 53em; /* 20 columns, including gaps */
}

.StartujiciProTyp-item {
  width: 2.5em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
