.StartujiciProTyp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2.5em, 2.5em));
  grid-gap: 1px;
  max-width: 53em; /* 20 columns, including gaps */
}

.StartujiciProTyp-dokonceno, .StartujiciProTyp-na-trase, .StartujiciProTyp-nedokonceno {
  width: 2.5em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StartujiciProTyp-dokonceno {
  background-color: #60c860;
}

.StartujiciProTyp-na-trase {
  background-color: #70a5ed;
}

.StartujiciProTyp-nedokonceno {
  background-color: #9ec49e;
}