.Poradi__div {
  padding-left: 30px;
  padding-right: 50px;
}

.Poradi--maraton {
  background-color: rgba(var(--maraton), 0.4);
}
.Poradi--půlmaraton {
  background-color: rgba(var(--půlmaraton), 0.4);
}
.Poradi--cyklo {
  background-color: rgba(var(--cyklo), 0.4);
}
.Poradi--koloběžka {
  background-color: rgba(var(--koloběžka), 0.4);
}
.Poradi--pěší {
  background-color: rgba(var(--pěší), 0.4);
}

.Poradi--dokonceno {
  background-color: rgba(53, 132, 31, 0.8);
  color: white;
}
.Poradi--nedokonceno {
  background-color: rgba(11, 48, 86, 0.8);
  color: white;
}
.Poradi--na-trase {
  background-color: rgba(104, 49, 2, 0.3);
}
