.App-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

/* Override react-bootstrap styling for Navbar's container. */
.navbar > .container {
  padding-left: 0px;
  margin-left: 0px;
}

/* Override react-bootstrap styling for Navbar's active item. */
.active > a {
  font-weight: bold;
}

/* Override react-boostrap styling for NavDropdown menu items. */
.dropdown-menu > li > a {
  padding-bottom: 6px;
  padding-top: 6px;
}

.App-Nav {
  font-size: 110%;
}

.App-logo,
.App-logo-animated {
  height: 50px;
}

.App-logo-animated {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
