.PrihlaseniDohlaseni_div {
  padding-left: 30px;
  padding-right: 50px;
}

.PrihlaseniDohlaseni--maraton {
  background-color: rgba(var(--maraton), 0.4);
}
.PrihlaseniDohlaseni--půlmaraton {
  background-color: rgba(var(--půlmaraton), 0.4);
}
.PrihlaseniDohlaseni--cyklo {
  background-color: rgba(var(--cyklo), 0.4);
}
.PrihlaseniDohlaseni--koloběžka {
  background-color: rgba(var(--koloběžka), 0.4);
}
.PrihlaseniDohlaseni--pěší {
  background-color: rgba(var(--pěší), 0.4);
}

.PrihlaseniDohlaseni--zaplaceno,
.PrihlaseniDohlaseni--castecne-zaplaceno,
.PrihlaseniDohlaseni--nezaplaceno {
  color: white;
  font-weight: bold;
  text-align: right;
}
.PrihlaseniDohlaseni--zaplaceno {
  background-color: rgba(48, 199, 90, 1);
}
.PrihlaseniDohlaseni--castecne-zaplaceno {
  background-color: rgba(240, 173, 78, 1);
}
.PrihlaseniDohlaseni--nezaplaceno {
  background-color: rgba(226, 57, 73, 1);
}
