.Casomira__panel {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  max-width: 29em; /* Maximum of 10 bibs per line. */
}

.Casomira__header {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.Casomira__body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 15px;
}

.Casomira__stopky-mezicas {
  margin-left: 1em;
}

.Casomira__startovni-cisla {
  margin-top: 2ex;
}

.Casomira__mezicasy {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-top: 2ex;
}

.Casomira__header--maraton {
  background-color: rgba(var(--maraton), 0.4);
}
.Casomira__header--půlmaraton {
  background-color: rgba(var(--půlmaraton), 0.4);
}
.Casomira__header--cyklo {
  background-color: rgba(var(--cyklo), 0.4);
}
.Casomira__header--koloběžka {
  background-color: rgba(var(--koloběžka), 0.4);
}
