.Startujici-table {
  margin-top: 3ex;
  margin-bottom: 1ex;
  table-layout: fixed;
  width: 1px; /* table occupies a minimum width possible */
}

.Startujici-dokonceno, .Startujici-na-trase, .Startujici-nedokonceno {
  width: 2em;
  height: 2em;
  text-align: center;
}

.Startujici-dokonceno {
  background-color: #60c860;
}

.Startujici-na-trase {
  background-color: #70a5ed;
}

.Startujici-nedokonceno {
  background-color: #9ec49e;
}

.Startujici-legenda {
  margin-left: 1em;
  padding: 2px;
  border: 1px solid black;
}