.StartovniCisla__div {
  margin-left: 30px;
  margin-right: 20px;
}

.StartovniCisla__buttons {
  margin-bottom: 1ex;
}

.StartovniCisla__button {
  margin-right: 5px;
}

.StartovniCisla__buttons > .btn.active {
  font-weight: bold;
  border-radius: 5px;
  border: 3px solid black !important;
}

.StartovniCisla__typ {
  margin-bottom: 1.5ex;
}

.StartovniCisla__popisek {
  padding-bottom: 0.7ex;
}

.StartovniCisla__legenda {
  margin-bottom: 1ex;
}
